.home-container {
    padding: 40px;
}

.home-container::before {    
    content: "";
    background-image: url("/public/home-background.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -1;
}

.home-image {
    height: 80vh;
    width: 100vh;
}

.home-image img {
    width: 70%;
    height: 70%;
    padding: 1rem;
    animation: float 3s linear infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(3rem);
    }
}
